/* Color Schemes feather #77C9D4 marine #57BC90 forest #015249 sleek grey #A5A5AF*/

body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 70px;
  background-color: coral;
  /* height: 550px; */
  height: 100%;
}

#charts {
  background-color: crimson;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 70px;
  /* background-color: coral; */
  height: 5000px;
  /* height: 100%; */
}

.burger {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  background-color: #77c9d4;
  top: 60px;
  -webkit-backface-visibility: hidden;
  left: 0px;
  height: 100vh;
}

#nav-bar-container {
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-image: linear-gradient(to right, #77c9d4, #57bc90);
  position: fixed;
  z-index: 10;
  height: 60px;
  -webkit-backface-visibility: hidden;
}

#hamburger {
  justify-self: flex-start;
  align-self: flex-start;
}

.login-form {
  margin-top: 100px;
}
